*{
    padding: none;
    margin:none;
}
.container{
    padding:20px;
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    gap: 30px;
    padding-top:0;
}
h1{
    padding-top: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;
}
.newscardbox{
    margin-bottom: 25px;
}